---
layout: page
title: 開発経験
permalink: /experience/
---

<h1>アルバイト（2017 - 現在）</hj>

{% for work in site.data.works %}
    <h2>{{ work.title }}</h2>
    {{ work.about }}
    <ul>
    {% for item in work.what_i_did %}
        <li>{{ item }}</li>
    {% endfor %}  
    </ul>
    Keywords:
    {% for item in work.keywords %}
        {{ item }} /  
    {% endfor %}
    <br>
    {{ work.in_house_or_not }}
{% endfor %}


<h1>中学・高校（2009 - 2015）</h1>
    <!--
    {{ "[奈良女子大学附属中等教育学校 サイエンス研究会 生徒論文集](https://www2.nara-wu.ac.jp/fuchuko/ssh/content/ronbun/)
        （PDF [平成24年度](http://www.nara-wu.ac.jp/fuchuko/student/ssh/ronbun/H24.pdf)
              [平成25年度](http://www.nara-wu.ac.jp/fuchuko/student/ssh/ronbun/H25.pdf)
        ）" | markdownify }}
    -->

    <h2>マイクロ波実験装置の製作</h2>
    市販のドップラーセンサモジュールを利用し，高校物理の生徒実験に使えるマイクロ波実験装置を製作
    <ul>
        <li>センサモジュール振動数の個体差により，2モジュールを向かい合わせることでうなり成分が常に出力される</li>
        <li>検波，増幅回路を製作し，授業で扱いやすいパッケージにまとめた</li>
    </ul>
    <p>
    「マイクロ波実験装置の製作」平成24年度 テクノアイデアコンテスト「テクノ愛」 奨励賞<br>
    「マイクロ波実験装置の開発」2013年度 日本物理学会 第9回Jr.セッション 奨励賞
    </p>

    <h2>指向性スピーカーによる目覚まし時計の開発</h2>
    超音波スピーカーアレイによる指向性スピーカーと，それを利用した目覚まし時計を開発<br>
    スピーカーを受信機としても利用し，測距センサを構成して寝返りの検知による睡眠ログ機能を実装